<div class="container">
  <img src="./assets/Angular.png" alt="Logo da Empresa" class="logo">
  <form [formGroup]="formAuth" (ngSubmit)="submitForm()">
    <label>
      <img src="./assets/user.svg" alt="Imagem de usuários">
      <input
        type="email"
        formControlName="email"
        placeholder="E-mail"
        required
      >
    </label>
    <label>
      <img src="./assets/password.svg" alt="Imagem de cadeado">
      <input
        type="password"
        formControlName="password"
        placeholder="Senha"
        required
      >
    </label>

    <button class="btn-red" [disabled]="formAuth.invalid">Login</button>
  </form>

  <span class="msg-error" *ngIf="msgError">{{ msgError }}</span>
</div>
